*{
    margin: 0;
    padding:0;

 }
 body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
 }
 .z0{
    z-index: 0;
 }
 .z1{
    z-index: 70;
   
 }
 .b{
    bottom:18%;
 }
 
 .bg1{
    background: url(../img/1.jpg) 100%;
    background-size: cover; 
    -moz-background-size: cover; 

 }
 .bg2{
    background: url(../img/2.jpg) 100%;
    background-size: cover; 
    -moz-background-size: cover; 
 }
 .bg3{
    background: url(../img/3.jpg) 100%;
    background-size: cover; 
    -moz-background-size: cover; 
 }
 .bg4{
    background: url(../img/4.jpg) 100%;
    background-size: cover; 
    -moz-background-size: cover; 
 }
.gg{
    position: absolute;
    top: 0;
    left: 35%;
}
.logo{

    top:14px;
    left: 50px;
    width: 290px;

}
/*.top-bar{
    background: #111;
}*/
.logo{
    position: fixed;
    top: 20px;
    left:50px;
}
.tel{
    font-size: 40px;
    color: skyblue;
    position: fixed;
    right: 40px;
    top: 30px;
    color: #00dfb9;
    font-weight: bold;
    font-size: 26px;
}
#line{
    width: 54px;
    height: 3px;
    background: #00dfb9;
    position: fixed;
    z-index: 6;
    left: 423px;
}
.new{
    bottom: 23%;
    left:50%;
    position: absolute;
    z-index: 81;
    width: 410px;
    margin-left: -205px;
    margin-bottom: 40px;
    font-size: 14px;
}
.new span{
    float: left;
    margin: 1px 15px 0px 0px;
    color: #00dfb9;
    font-weight: bold;;

}
.new div{
    font-size: left;
    overflow: hidden;
    position: relative;
    height: 20px;
}
.new ul li{
    text-align: left;
    height: 20px;
    line-height: 1.5;
    color: white;
}
.new ul li:hover{
    text-decoration:1px solid white;
}
.new a{
    top: -2px;
    position: absolute;
    right: 0;
    color: #00dfb9;
    text-decoration: none;
    border-bottom: 1px dotted #00dfb9;
    float: right;
}
.new a:hover{
    color: white;
}
.sl1-9{
    position: absolute;
    width: 123px;
    height: 231px;
    top:170px;
    left:100px;
    background-size: 50%;
    background: url(../img/spriti.png) no-repeat top right; 
    opacity: 0;
}

.sl1-txt{
     right: 100px;
     text-align: left;
     top:175px;
     opacity: 0;
}
.sl2-txt{
     left: -100px;
     text-align: right;
     opacity: 0;
     top: 195px;
}
.sl-txt{
    height: 300px;
    width: 350px;
    position: absolute;
    z-index: 6
}
.sl-txt i {
    display: block;
    left: 900px;
    width: 350px;
    height: 66px;
    margin-bottom: 5px;
}    
.sl1-txt i{
    background: url(../img/spriti.png) no-repeat;
}
.sl2-txt i{
    margin-top:5px;
    background: url(../img/spriti.png) no-repeat 28px -72px;
    margin-right: -10px;

}
.sl-txt span{
    font-size: 36px;
    color: white;
}
.sl-txt p{
    font-size: 16px;
    line-height: 25px;
    color: #ccc;
    margin: 0;
}
.sl2-bg{
    position: absolute;
    width: 100%;
    height:1000px;
    background:#0b151a;
    opacity: 0.6;
    z-index: 5;

}
.bg3-box{
    margin-top: 196px;
}

.bg3-box div{
    font-size: 80px;
    color: white;
    text-align: center;
    opacity: 0;
}
.bg3-box span{
    display: inline-block;
    width: 358px;
    height: 66px;
    margin: 0 auto;
    margin-top: 20px;
    background: url(../img/spriti.png) no-repeat 0px -219px;
    opacity: 0;
}
.bg3-box p{
    width: 100%
    height:100%;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #ccc;
    margin: 0;
    opacity: 0;
}
.bg4-top{
    width: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
}
.bg4-top div{
    font-size: 36px;
    color: white;


}
.bg4-top span{
    display: block;
    width: 242px;
    height: 64px;
    margin: 0 auto;
    margin-top: 15px;
    background: url(../img/spriti.png) no-repeat 0px -147px;
}

.bg4-bot{
    position: absolute;
    top:500px;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    line-height: 25px;
    color: #ccc;
    text-align: center;
    opacity:0;
}
.bg4-bot u{
    text-decoration: none;
    color: #00dfb9;
    margin: 0 2px;
}

.swiper-pagination span{
    width: 40px;
    height: 3px;
    border-radius: 0;
    background: white;
    margin: 0 5px 8% !important;
    display: inline-block;
    opacity: 0.9;

}
.swiper-pagination span:hover{
    background: #00dfb9;
    opacity: 0.9;
}
.swiper-pagination-bullet-active{
    background : #00dfb9 !important;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.sec-bg2{
    background: url(../img/bg2.jpg) 50% bottom;
    background-size: 100%;
}
.sec2-box{
    width: 1150px;
    margin: 10px auto 0;
}
.sec2-box li i{
    z-index: 90;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 43px;
    
    height: 69px;

}
.title{
    margin-bottom: 20px;
    opacity: 0;
    font-size: 24px;
    letter-spacing: 5px;
    color: #333;
}
.case-title{
    margin-bottom: 20px;
    opacity: 0;
    font-size: 24px;
    letter-spacing: 5px;
    color: #333;
}
.sec2-box li{
    float: left;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
    width: 200px;
    height: 300px;
    margin: 0 8px;
    background: url(../img/green.png) no-repeat 0px 400px;
    overflow: hidden;
}

.circle-l{
    display: block;
    position: absolute;
    width: 156px;
    height: 156px;
    margin-left: 22px;
    clip: rect(0px,156px,-10px,78px);
    background: url(../img/spriti.png) no-repeat 0px -363px;
    transition: clip .4s ease-in-out 0s; 
}

.circle-r{
    z-index: 80;
    display:block;
    position: absolute;
    width: 156px;
    height: 156px;
    margin-left: 22px;
    background: url(../img/spriti.png) no-repeat 0px -363px;
    clip: rect(156px,78px,156px,0px);
    transition: clip .4s ease-in-out 0s;
}
.sec2-box li strong{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #333;
}
.sec2-box li p{
    color: white;
    position: relative;
    top: 200px;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    transition: clip .2s ease-in-out ;
}
.pc i{
    background: url(../img/spriti.png) no-repeat -245px -357px;
    width: 69px;
}
.mob i{
    background: url(../img/spriti.png) no-repeat -416px -291px;
    width: 64px;
}
.sys i{
    background: url(../img/spriti.png) no-repeat -415px -362px;
    width: 76px;

}
.app i{
    background: url(../img/spriti.png) no-repeat  -244px -439px;
    width: 74px;
}
.host i{
    background: url(../img/spriti.png) no-repeat  -420px -439px;
    width: 79px;
}
.case{
    text-align: center;
    background: url(../img/bg3.jpg)  no-repeat ;
    background-size: cover; 
    -moz-background-size: cover; 
}
.case-ul{

    opacity: 0;
    height: 350px;
    position: absolute;
    bottom: -200px;
    transition: opacity .5s ease-in-out, bottom .5s ease-in-out;
}
.case-show{

    position: relative;
    width: 1100px;
    height: 350px;
    margin: 0 auto;
}
.case-pic{
    width: 340px;
    height: 200px;
    background: red;
}
.case-txt{
    width: 340px;
    height: 100px;
    z-index: 5;
    background-color:rgba(255,255,255,0.5);

}
.case-txt p{
    position: absolute;
    text-align: left;
    margin: 10px 20px;
    color: #999;
    font-family: Arial,"宋体";
    font-size: 14px;
    line-height: 26px;
    z-index: 90;
}
.case-txt strong{
    color: #333;
    letter-spacing: 1px;
}
.case-bg{
    width: 340px;
    height: 100px;
    top: 300px;
    background-color: #2ed0b4;
    transition:top .3s ease-in-out ;
    z-index: 1;
    position: absolute;

}
.case-shadow{
    width: 340px;
    height: 200px;
    top: -200px;
    background: #333;
    opacity: 0.7;
    transition: top .3s ease-in-out;
    position: absolute;
}
.case-show li{
    position: relative;
    list-style: none;
    float: left;
    width: 340px;
    height: 302px;
    margin: 15px 10px;
    overflow: hidden;

}
.case-moer{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    height: 30px;
    width: 240px;
    padding: 12px 0px;
    color: #00aa88;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: center;
    border: 1px solid #00aa88;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all .2s;

}

.case-moer:hover{
    background: #00aa88;
    color: white;
}
.client{
    text-align: center;
    background: url(../img/bg4.jpg) 50% 90%  ;
    background-size: 100%;
  /* background-size: cover; 
    -moz-background-size: cover; */


}
.client-box{
  text-align: center;
}
.client-title{

    margin-bottom: 20px;
    opacity: 1;
    font-size: 24px;
    letter-spacing: 5px;
    color: #333;

}
.client-head span{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 299px;
    height: 37px;
    background: url(../img/spriti.png) no-repeat -152px -528px;
}
.client-brand {
    display: inline-block;
    width: 1150px;
    height: 300px;
}
.client-ul{
    position: relative;
    width: 1150px;
    height: 300px;
}
.client-brand li{
    box-sizing: border-box;
    position: absolute;
    padding: 0;
    width: 230px;
    height: 150px;
    overflow: hidden;
    z-index: 10;
    border-right: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    transition: all 0.8s ease-in-out ;
}
.cctv{
       background: url(../img/clients.png) no-repeat 0px 0px;
}
.qinghua{
        background: url(../img/clients.png) no-repeat -460px 0px;
}
.lenovo{
        background: url(../img/clients.png) no-repeat -2530px 0px;
}
.sin{
        background: url(../img/clients.png) no-repeat -690px 0px;
}
.apple{
        background: url(../img/clients.png) no-repeat -230px 0px;
}
.das{
        background: url(../img/clients.png) no-repeat -1380px 0px;
}
.ata{
        background: url(../img/clients.png) no-repeat -1150px 0px;
}
.group{
        background: url(../img/clients.png) no-repeat -920px 0px;
}
.haier{
        background: url(../img/clients.png) no-repeat -2772px 0px;
}
.cosco{
        background: url(../img/clients.png) no-repeat -1610px 0px;
}
.client-bg{
    background-color: white;
    opacity: 0.3;
    width: 1150px;
    height: 300px;
    
}
.block{
    display: none;
    position: absolute;
    background-color: gray;
    opacity: 0.1;
    width: 230px;
    height: 150px;
    transition: all .4s ease-in-out ;
}
.quelity{
    background: url(../img/bg5.jpg) 50% 10%;
    background-size: 100%;

}
.quelity-box{
    width: 100%;
}
.quelity-title{
    margin-bottom: 20px;
    opacity: 1;
    font-size: 24px;
    letter-spacing: 5px;
    color: white;
}
.quelity-content{
    height: 200px;
    margin: 50px   auto 0;
    width: 1000px;

    position: relative;
}
.quelity-content p{
    display: block;
    font-size: 16px;
    color: #e1e1e1;
    text-align: center;
    line-height: 42px;
}
.quelity li{
    list-style: none;
    position:absolute;
    width: 240px;
    margin: 0 40px;
    opacity: 0;
    transition:all .5s ease-in-out;
}
.equipment{
    /*670*/
    left:-200px;
}
.browser{
   /* -150*/
    top: -200px;
    left: 330px;
}
.system{
   right:-200px;
}
.quelity-brand{
    width: 200px;
    margin: 0 auto 10px; 
}
.quelity-brand span{
    position: relative;
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}
.quelity-icon{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 240px;
    height: 37px;
    background: url(../img/spriti.png) no-repeat 0px -576px;    
}
.mirror{
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    width: 240px;
    padding: 12px 0px;
    color: #00aa88;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: center;
    border: 1px solid #00aa88;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all .2s;
}
 a{
    text-decoration: none;
}
.mirror:hover{
    background: #00aa88;
    color: white;
}

.mob{
    width: 14px;
    height: 27px;
    background: url(../img/icons.png) no-repeat 0px -264px;
}
.pai{
    width: 29px;
    height: 23px;
    background: url(../img/icons.png) no-repeat -71px -264px;
}
.pc{
    width: 35px;
    height: 27px;
    background: url(../img/icons.png) no-repeat 0px -303px;
}
.add{
    background: url(../img/bg6.jpg) 50% 45%;
    background-size: 100%;
}
.add-title{
    margin-bottom: 30px;
    opacity: 1;
    font-size: 24px;
    letter-spacing: 5px;
    color: #333;
}

.add-ul{
    width: 1090px;
    height: 230px;
    margin: 10px auto 50px ;
}
.add-ul li{
    list-style: none;
    float: left;
    width: 128px;
    height: 230px;
    margin: 0 20px;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
}
.add-cl{
    /*clip: rect(0px,128px,128px,64px);*/
    top: 0;
    clip: rect(0px,128px,-10px,64px);
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    background: url(../img/spriti.png) no-repeat 0px -624px;
    transition: all .5s ease-in-out 0s;
}

.add-top i{
   
    display: block;
    margin: 0 auto;
    margin-top: 28px;
    height: 70px;

}
.baidu{
     width: 54px;
    background: url(../img/spriti.png) no-repeat -144px -632px;
}
.wechar{
        width: 74px;
    background: url(../img/spriti.png) no-repeat -207px -630px;
}
.weibo{
        width: 68px;
    background: url(../img/spriti.png) no-repeat -288px -630px;
}
.inf{
        width: 61px;
    background: url(../img/spriti.png) no-repeat -366px -628px;
}
.pay{
    width: 56px;
    background: url(../img/spriti.png) no-repeat -438px -639px;
}
.forum{
    width: 51px;
    background: url(../img/spriti.png) no-repeat -144px -705px;
}

.add-bottom{
    opacity: 0;
    position: absolute;
    bottom: -200px;
    width: 128px;
    line-height:20px;
    text-align: center;
    font-size: 14px;
    color: #333;
    transition: all .5s;
}
.add-bottom strong{
    line-height: 36px;
    font-size: 16px;
}

.add-cr{
    top: 0;

    /*hover clip: rect(0px,64px,128px,0px);*/
    display: block;
    position: absolute;
    width: 128px;
    height: 128px;
    clip: rect(128px,64px,128px,0px);
    background: url(../img/spriti.png) no-repeat 0px -624px;
    transition: all .5s ease-in-out 0s;
}
.about{
    background: url(../img/bg7.jpg) 50% 60%;
    -moz-background-size: cover;
    background-size: cover;
}
tbody{
    font-size: 14px;
    display: table;
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #666;
}
td{

    border: none;
    background: rgba(225,225,225,0.3);
    width: 20%;
    height: 70px;
    color: #bbb;
    text-align: center;
}
td u{
    margin-right: 10px;
    color: #00dfb9;
    font-family: Arial;
    font-size: 26px;
    text-decoration: none;
}
#about-mune{
    position: absolute;
    left: 50px;
    top: 160px;
    padding:0px;
    height: 126px;
    width: 80px;
    z-index: 99;
    color: white;

}
#about-mune2{
    position: absolute;
    left: 50px;
    top: 160px;
    padding:0px;
    height: 126px;
    width: 80px;
    font-size: 16px;
}
.about-mune-li{
    display: block;
    width: 80px;
    height: 42px;
    border-radius: 0;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    box-sizing: border-box;
}
.about-font{
        color: white;
}
.about-active{
   background: #2fd0b5;
   opacity: 0.2;
}
.about-swiper{
    

}
.position{
    opacity: 0;
    top: 230px;
    overflow: hidden;
    position: absolute;
    left:-200px;
    width: 480px;
    height: 240px;
    transition: all 0.5s ease-in-out;
}
.about-div{
    display: inline-block;
    width: 480px;
    height: 240px;
}
.about-slide div{
    overflow: hidden;
    width: 480px;
    height: 240px;
}
.about-div{
    font-size: 14px;
    text-align: left;
}
.about-div p{
    margin: 0 0 10px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.nth1 strong{
    display: block;
    color: #ddd;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 5px;
}
.nth1 p{
    margin-top: 20px;
    color: #999;
    line-height: 35px;
}
.nth1 u{
    display: block;
    margin-top: 20px;
    color: #999;
    font-size: 24px;
    text-decoration: none;
}
.nth2 strong{
    display: block;
    color: #00dfb9;
    font-size: 22px;
    font-weight: normal;
    text-indent: 28px;
}
.nth2 p{
    margin-top: 20px;
    color: #999;
    line-height: 35px;
    text-indent: 28px;
}
.nth3 strong{
    display: block;
    margin-bottom: 20px;
    color: #00dfb9;
    font-size: 22px;
    font-weight: normal;
}
.nth3 ul{
    padding: 0;
}
.nth3 li{
    color: #999;
    line-height: 35px;
    padding-left: 30px;
    list-style: none;
    background: url(../img/point.png) no-repeat 0px 13px;
}
.contact-top div{
    text-align: left;
    float: left;
     margin: 0 25px;
}
.wechatCode img{
    display: block;
    max-width: 100%;
    height: auto;
}
.contact{
    background: url(../img/bg8.jpg) 50% bottom;
    background-size: 100%;
}

.contact-top{
    top:-300px;
    opacity: 0;
    position: relative;
    width: 820px;
    height: 210px;
    margin: 0 auto;
    font-size: 14px;
    display: inline-block;
    transition: all .5s ease-in-out;


}
.contact-a{
    display: block;
    margin: 10px 0px 15px 0px;
    width: 243px;
    height: 37px;
    text-decoration: none;
    background: url(../img/spriti.png) no-repeat 0px -877px;
}
.left p{
    margin-top: 8px;
    color: #666;
    line-height: 26px;
}
.right{
    float: right;
    margin-top: -3px;
    color: #666;
    line-height: 32px;
}
.contact-bottom{
    position: relative;
    padding-top: 50px;
    width: 100%;
    border-top: 1px dotted #ccc;
}
.contact-bottom i{
    transition: all .5s ease-in-out;
    opacity: 0;
    display: block;
    position: relative;
    top: 300px;
    margin: 0 auto;
    width: 424px;
    height: 86px;
    background: url(../img/spriti.png) no-repeat 0px -787px;
}


#menu { margin: 0; padding: 0; position: fixed; left:30%; top: 25px; list-style-type: none; z-index: 70;}
#menu li { float: left;  font-size: 21px;}
#menu a { float: left; padding: 10px 20px;color: #ccc; text-decoration: none;}
#menu .active1 a { color:#00dfb9; }
#menu .active a { color:#00dfb9; }
.section { text-align: center; font: 50px "Microsoft Yahei"; color: #fff;}
.top-bar{
    width: 100%;
    height: 74px;
    background: #333;
    opacity: 0;
    position:fixed;
    top: 0;
    z-index: 1;
}